h1 {
  font-weight: 550;
  font-size: 32px;
  margin: 0;
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
}

.impressum-container {
  background-color: rgba(239, 239, 239);
  border-radius: 8px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
}

.impressum-container-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.impressum-container-box a, impressum-container-box:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.impressum-container-box a:hover, impressum-container-box:active {
  color: rgb(40, 128, 0);
}

.d_500px {
  display: none;
}

.credit-container a, credit-container a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.credit-container a:hover, credit-container a:active {
  color: rgb(40, 128, 0);
}

.impressum-container-box h2 {
  margin: 8px 0px;
}

.impressum-container-box h3 {
  margin: 8px 0px;
}
.impressum-container-box h4 {
  font-weight: 550;
  font-size: 16px;
  margin: 4px 0px;
}

@media(max-width: 500px) {
  .d_none_500px {
    display: none;
  }

  .d_500px {
    display: flex;
  }

  h1, h2 , h3, h4, p {
    text-align: left;
}
}